version: '3'
services:
    postgres:
      image: postgres
      restart: always
      environment:
          POSTGRES_USER: webapplication
          POSTGRES_PASSWORD: webapplication
          POSTGRES_DB: webplayground
    web:
      image: tutum/lamp
      volumes:
        - .:/var/www/html
      ports:
        - "8080:80"

    laravel:
      build: ./laravelicious
      ports:
        - "8000:8000"

    spring:
      build: ./springylicious/bodymassindex
      links:
         - "postgres:postgresdb"
      ports:
         - "8081:8080"
                        
    adminer:
      image: adminer
      links:
         - "postgres:postgresdb"
      restart: always
      ports:
         - "8082:8080"
           
